<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
  <appSettings>
    <add key="ApiKey" value="jMeMQWsHDOe3mCjlZs6DUAfakp7i6UcPjAPHcHKYUxbR5P/zOOvk8g=="/>
    <add key="StudentApiUrl" value="https://studentfunctionapp2019.azurewebsites.net/"/>
    <add key="ServiceBusConnectionString" 
         value="Endpoint=sb://studenthuss.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=8Q1gXjw/+tCfZO6Fko5YLjrglMY3GSamc8y1IpaV2cA="/>

    <add key="QueueName" value="student"/>

  </appSettings>
  
</configuration>